* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: none;
}

/* Root Variables */

:root {
  --batman: #212121;
  --carbon: #000000;
  --dove: #ffffff;
  --granite: #696969;
  --facered: #f05136;
  --cigar: #eae8dc;
  --pekachu: #fab201;
  --bluemoon: #2b2391;
  --bluelagoon: #3683f0;
  --bluelagoon2: #0081f9;
  --smoke: #fafafa;
  --smoke-2: #f5f5f5;
  --sandstone: #9e9e9e;
  --snowfall: #e4e4e4;
  --joy: #f0af36;
  --gold: #f1c40f;
  --go: #27ae60;
  --greenapple: #7fcb22;
  --tomato: #eb2f06;
  --purple: #5f27cd;
  --pink: #f50a5f;
  --organred: #f00f0f;
  --clearblue: #2c7de6;
  --bluelight: #a4ccfa;
  --lightsmoke: #e9e9e9;

  --peaky-shadow-nav: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
  --peaky-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  --peaky-shadow-none: 0 3px 6px 0 rgba(0, 0, 0, 0);
  --peaky-shadow-high: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --peaky-shadow-high-2: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --peaky-border-none: 1px solid transparent;
  --peaky-border: 1px solid #e4e4e4;
  --peaky-pad-16: 16px;
  --peaky-pad-24: 24px;
  --peaky-pad-32: 32px;
  --peaky-br-2: 2px;
  --peaky-br-4: 4px;
  --peaky-br-8: 8px;
  --peaky-br-16: 16px;
  --peaky-br-full: 50px;
  --peaky-br-full-2: 50%;
  --peaky-gap-4: 4px;
  --peaky-gap-8: 8px;
  --peaky-gap-16: 16px;
  --peaky-gap-24: 24px;
  --peaky-gap-32: 32px;
  --peaky-gap-64: 64px;
  --peaky-gap-100: 100px;
  --peaky-gap-128: 128px;

  --peaky-nav-h: 54px;
}

#root {
  /* margin-top: 64px; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #69696950;
}

button {
  outline: none !important;
}

/* Padding Classes */

.lr-pad-d {
  padding-right: 6rem;
  padding-left: 6rem;
}

.lr-pad-d-2{
    padding-right: 2rem;
    padding-left: 2rem;
}

.tb-pad-d {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.tb-pad-d-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Heading Tag Classes */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: var(--carbon) !important;
}

.h1-heading {
  font-size: calc((102% + 0.25vw) * 2);
  color: var(--carbon);
}

.h2-heading {
  font-size: calc((102% + 0.25vw) * 1.3);
}

.h3-heading {
  font-size: calc((102% + 0.25vw));
}

.h4-heading {
  font-size: calc((100% + 0.25vw));
}

.h5-heading {
  font-size: 14px;
}

.jr-h1-heading {
  font-size: 64px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.jr-h2-heading {
  font-size: 36px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.jr-h3-heading {
  font-size: 30px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.jr-h4-heading {
  font-size: 24px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.jr-h5-heading {
  font-size: 21px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.jr-h6-heading {
  font-size: 18px !important;
  line-height: 1.25 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.sh1-heading {
  font-size: 21px !important;
  line-height: 1.5 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.sh2-heading {
  font-size: 18px !important;
  line-height: 1.5 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.sh3-heading {
  font-size: 16px !important;
  line-height: 1.5 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.sh4-heading {
  font-size: 14px !important;
  line-height: 1.5 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.lable-0 {
  font-size: 21px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
}

.lable-1 {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
}

.lable-2 {
  font-size: 16px !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500 !important;
}

.lable-3 {
  font-size: 14px !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500 !important;
}

/* Body Text Classes */
body-xl,
.body-large,
.body-big,
.body-regular,
.body-small,
.body-caption,
.body-caption-2 {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.body-xl {
  font-size: 48px;
  color: var(--carbon);
}

.body-large {
  font-size: 24px;
  color: var(--carbon);
}

.body-big {
  font-size: 21px;
  color: var(--carbon);
}

.body-regular {
  font-size: 18px;
  color: var(--carbon);
}

.body-small {
  font-size: 16px;
  color: var(--carbon);
}

.body-caption {
  font-size: 14px;
  color: var(--granite);
}

.body-caption-2 {
  font-size: 16px;
  color: var(--granite);
}

.strong-text {
  font-weight: 600;
}

/* Button Classes */

.button-text,
.button-secondary,
.button-primary {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 16px;
  border-radius: var(--peaky-br-2);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
  transition: all 0.4s;
}

.button-primary {
  background: var(--facered);
  color: var(--dove);
}

.button-secondary {
  background: var(--dove);
  color: var(--batman);
}

.face-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--carbon);
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  transition: all 0.4s;
}

.face-btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.button-hover:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Custom Buttons */

.default-purple-btn,
.default-pink-btn,
.default-inactive-btn {
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  padding: 0 1rem;
  border-radius: var(--peaky-br-4);
  cursor: pointer;
  transition: all 0.4s;
}

.default-purple-btn {
  box-shadow: 0 2px 4px 0 rgba(95, 39, 205, 0), 0 3px 6px 0 rgba(0, 0, 0, 0);
}

.default-pink-btn {
  box-shadow: 0 2px 4px 0 rgba(245, 10, 95, 0), 0 3px 6px 0 rgba(0, 0, 0, 0);
}

.default-purple-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(95, 39, 205, 0.33),
    0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.default-pink-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(245, 10, 95, 0.33),
    0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.default-inactive-btn:hover {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.1);
}

.outline-purple {
  color: var(--purple) !important;
  border: 1px solid var(--purple) !important;
  background: var(--dove) !important;
}

.filled-purple {
  color: var(--dove) !important;
  border: 1px solid var(--purple) !important;
  background-color: var(--purple) !important;
}

.outline-pink {
  color: var(--pink) !important;
  border: 1px solid var(--pink) !important;
  background: var(--dove) !important;
}

.filled-pink {
  color: var(--dove) !important;
  border: 1px solid var(--pink) !important;
  background-color: var(--pink) !important;
}

.fill-inactive {
  color: var(--carbon);
  border: 1px solid var(--snowfall);
  background: var(--snowfall);
}

.btn-small {
  height: 40px !important;
}

/* Flex Box Classes */

.f-d {
  display: flex;
}

.f-ht {
  flex-direction: row;
}

.f-vt {
  flex-direction: column;
}

.f-ht-r {
  flex-direction: row-reverse;
}

.f-vt-r {
  flex-direction: column-reverse;
}

.f-v-s {
  align-items: flex-start;
}

.f-v-c {
  align-items: center;
}

.f-v-e {
  align-items: flex-end;
}

.f-h-s {
  justify-content: flex-start;
}

.f-h-c {
  justify-content: center;
}

.f-h-e {
  justify-content: flex-end;
}

.f-h-sb {
  justify-content: space-between;
}

.f-h-sa {
  justify-content: space-around;
}

.f-h-se {
  justify-content: space-evenly;
}

.f-wrap-d {
  flex-wrap: wrap;
}

.f-s-s {
  align-self: flex-start;
}

.f-s-c {
  align-self: center;
}

.f-s-e {
  align-self: flex-end;
}

/* Grid Classes */

.g-d {
  display: grid;
}

.g-v-s {
  align-items: start;
}

.g-v-c {
  align-items: center;
}

.g-v-e {
  align-items: end;
}

.g-h-s {
  justify-items: start;
}

.g-h-c {
  justify-items: center;
}

.g-h-e {
  justify-items: end;
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.g-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.g-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.g-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.g-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.g-col-s-b {
  grid-template-columns: 1fr 2fr;
}

.g-col-s-b-2 {
  grid-template-columns: 1fr 3fr;
}

.g-col-b-s {
  grid-template-columns: 2fr 1fr;
}

.g-col-auto {
  grid-auto-flow: column;
}

.g-gap-16 {
  grid-gap: var(--peaky-gap-16);
}

.g-gap-24 {
  grid-gap: var(--peaky-gap-24);
}

.g-gap-32 {
  grid-gap: var(--peaky-gap-32);
}

.g-gap-64 {
  grid-gap: var(--peaky-gap-64);
}

.g-gap-16-64 {
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
}

.g-gap-32-64 {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
}

.g-gap-64-32 {
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.g-gap-custom {
  grid-gap: 46px;
}

.g-p-c {
  place-content: center;
}

/* Background Image Classes */

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-image-full {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c-pointer {
  cursor: pointer;
}

.hide-d {
  display: none;
}

/* Custom Height */
.c-height {
  height: calc(100vh - var(--peaky-nav-h));
}

/* New Hamburger Menu */

.hamburger {
  padding: 0;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  outline: none;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 0 0 auto;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 22px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 22px;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 7px;
}

.hamburger--slider .hamburger-inner::before {
  top: 6px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 12px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(12px, -4px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -12px, 0) rotate(-90deg);
}

.text-c-d {
  text-align: center;
}

.hide {
  display: none !important;
}

/* Global Notification Color */

.success-notification-top {
  background: var(--greenapple) !important;
}

.failure-notification-top {
  background: var(--organred) !important;
}

.warning-notification-top {
  background: var(--joy) !important;
}

/* Global Top Notification */

.ant-notification {
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  max-width: unset !important;
  width: 100% !important;
  z-index: 999;
  color: white;
}

.ant-notification-notice {
  border-radius: 0 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 6rem !important;
}

.ant-notification-notice-message {
  font-weight: 300 !important;
  color: var(--dove) !important;
  margin-bottom: 0 !important;
}

.ant-notification-notice-close {
  right: 96px !important;
  color: var(--dove) !important;
}

/* Global ANTD Error */

.has-error .ant-form-explain,
.has-error .ant-form-split {
  font-weight: 200;
}

/* Global Uppercase */

.cap-letter {
  text-transform: uppercase;
}

.capitalized-letter {
  text-transform: capitalize;
}

/* Global First Letter Capitalize */

.first-cap::first-letter {
  text-transform: capitalize;
}

/* Global Form Error */
.ant-form-explain {
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
}

/* Global Flash Animation */

.nav-tag-flash {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--dove);
  background: var(--facered);
  margin-left: 8px;
  padding: 2px 5px 1px 5px;
  border-radius: var(--peaky-br-2);
  opacity: 1;
  animation: flash-nav 1.5s ease-out 0s alternate infinite none running;
}

.bg-grey {
  background: var(--smoke);
}

.bg-white {
  background: var(--dove);
}

.ant-modal-header {
  padding: 24px !important;
  border-bottom: none !important;
}

.ant-modal-title {
  font-size: 24px !important;
}

@keyframes flash-nav {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Custom Width */

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* Custom Skeletons */

.skeleton-card-wrapper {
  padding: 2rem;
  height: 400px;
  border: var(--peaky-border);
  border-radius: var(--peaky-br-4);
  box-shadow: var(--peaky-shadow);
  background: var(--dove);
}

.skeleton-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 50px;
  width: max-content;
  border: var(--peaky-border);
  border-radius: var(--peaky-br-4);
}

.skeleton-card {
  width: 100%;
  height: 400px;
  border-radius: var(--peaky-br-4);
}

.skeleton-avatar {
  width: 64px;
  height: 64px;
  border-radius: var(--peaky-br-full);
}

.skeleton-tag {
  height: 24px;
  width: 100px;
  border-radius: var(--peaky-br-2);
}

.skeleton-heading {
  height: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--peaky-br-2);
}

.skeleton-heading-24 {
  height: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--peaky-br-2);
}

.skeleton-heading-30 {
  height: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--peaky-br-2);
}

.skeleton-heading-36 {
  height: 36px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--peaky-br-2);
}

.skeleton-paragraph {
  height: 28px;
  border-radius: var(--peaky-br-2);
}

.skeleton-image {
  height: 180px;
  border-radius: var(--peaky-br-2);
}

.skeleton-video {
  height: 200px;
  border-radius: var(--peaky-br-4);
}

.skeleton-icon {
  height: 24px;
  width: 24px;
  border-radius: var(--peaky-br-2);
}

.skeleton-square {
  height: 94px;
  border-radius: var(--peaky-br-2);
}

.skeleton-square-box-16 {
  height: 16px;
  width: 16px;
  border-radius: var(--peaky-br-2);
}

.skeleton-square-box-32 {
  height: 32px;
  width: 32px;
  border-radius: var(--peaky-br-2);
}

.skeleton-square-box-64 {
  height: 64px;
  width: 64px;
  border-radius: var(--peaky-br-2);
}

.skeleton-square-box-128 {
  height: 128px;
  width: 128px;
  border-radius: var(--peaky-br-2);
}

.skeleton-circle {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.skeleton-circle-16 {
  height: 16px;
  width: 16px;
  border-radius: 50px;
}

.skeleton-circle-24 {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.skeleton-circle-32 {
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.skeleton-circle-64 {
  height: 64px;
  width: 64px;
  border-radius: 50px;
}

.skeleton-input {
  height: 64px;
  border-radius: var(--peaky-br-2);
  border: var(--peaky-border);
  padding: var(--peaky-pad-16);
  box-shadow: var(--peaky-box-shadow-high);
}

.skeleton-dropdown {
  height: 64px;
  border-radius: var(--peaky-br-2);
  padding: var(--peaky-pad-16);
}

.skeleton-card,
.skeleton-avatar,
.skeleton-tag,
.skeleton-heading,
.skeleton-heading-24,
.skeleton-heading-30,
.skeleton-heading-36,
.skeleton-paragraph,
.skeleton-image,
.skeleton-video,
.skeleton-icon,
.skeleton-square,
.skeleton-square-box-16,
.skeleton-square-box-32,
.skeleton-square-box-64,
.skeleton-square-box-128,
.skeleton-circle,
.skeleton-circle-16,
.skeleton-circle-24,
.skeleton-circle-32,
.skeleton-circle-64,
.skeleton-dropdown {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, #f2f2f2),
    color-stop(37%, #e6e6e6),
    color-stop(63%, #f2f2f2)
  );
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: v-skeleton-loading 1.4s ease infinite;
  animation: v-skeleton-loading 1.4s ease infinite;
}

@keyframes v-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* Base Transition */
.base-transition {
  transform: translateY(30px);
  opacity: 0;
  transition: all 1000ms cubic-bezier(0.385, 0, 0.08, 1);
  transition-delay: 0.1s;
}

.base-transition.ready {
  transform: translateY(0);
  opacity: 1;
}

/* Global Referral Promo Banner */
.referral-promo-banner {
  background: var(--pink);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.referral-promo-banner .ref-icon-container {
  width: 50px;
  height: 50px;
  margin-right: 2rem;
  background: var(--dove);
  border-radius: var(--peaky-br-full);
  box-shadow: var(--peaky-shadow-high);
}

.referral-promo-banner .ref-icon-container .ref-icon {
  width: 32px;
  height: 32px;
}

.referral-promo-banner .right-container {
  color: var(--dove);
}

.referral-promo-banner .right-container .title {
  font-weight: 500;
}

.referral-promo-banner .right-container .subtitle {
  font-weight: 300;
}

.SocialMediaShareButton {
  cursor: pointer;
}

/* Mobile Optimization */

@media only screen and (max-device-width: 760px) {
  .hamburger {
    display: inline-block;
  }

  .hide-m {
    display: none;
  }

  .lr-pad-m {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .tb-pad-m {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .text-c-m {
    text-align: center;
  }

  .text-l-m {
    text-align: left;
  }

  .text-j-m {
    text-align: justify;
  }

  /* FlexBox Mobile */
  .f-m {
    display: flex;
  }

  .f-vt-m {
    flex-direction: column;
  }

  .f-vt-r-m {
    flex-direction: column-reverse;
  }

  .f-ht-m {
    flex-direction: row;
  }

  .f-v-s-m {
    align-items: flex-start;
  }

  .f-v-c-m {
    align-items: center;
  }

  .f-v-e-m {
    align-items: flex-end;
  }

  .f-h-s-m {
    justify-content: flex-start;
  }

  .f-h-c-m {
    justify-content: center;
  }

  .f-h-e-m {
    justify-content: flex-end;
  }

  .f-h-sb-m {
    justify-content: space-between;
  }

  .f-h-sa-m {
    justify-content: space-around;
  }

  .f-h-se-m {
    justify-content: space-evenly;
  }

  .f-wrap-m {
    flex-wrap: wrap;
  }

  /* Grid Mobile */
  .g-m {
    display: grid;
  }

  .g-col-1-m {
    grid-template-columns: 1fr;
  }

  .g-col-2-m {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Global Notification Mobile */
  .ant-notification-notice {
    padding: 1rem !important;
  }

  .ant-notification-notice-close {
    right: 16px !important;
  }
}

/* For Tablets Portrait or Landscape */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lr-pad-d {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .hide-t {
    display: none !important;
  }

  .text-j-t {
    text-align: justify;
  }
}

/* For Mobile Landscape */

@media only screen and (max-device-width: 760px) and (orientation: landscape) {
  .hide-landscape {
    display: none !important;
  }
}

/* For Mobile Landscape */

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  .lr-pad-d {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

/* Screen Beyond N ಠ_ಠ rmal */

@media screen and (min-width: 2000px) {
  .lr-pad-d {
    padding-right: 40rem;
    padding-left: 40rem;
  }
}
